/** CSS Variables **/
:root {
  /** Blue color **/
  --blue-800: 8, 19, 77;
  --blue-700: 11, 60, 185;
  /** Grey color **/
  --grey-600: 137, 149, 161;
  --grey-400: 173, 184, 204;
  --grey-300: 227, 232, 242;
  --grey-200: 238, 241, 244;
  --grey-100: 250, 251, 252;
  /** Yellow color **/
  --yellow-800: 181, 136, 0;
  --yellow-700: 255, 225, 118;
  --yellow-500: 255, 248, 229;
  /** Green color **/
  --green-800: 0, 166, 113;
  --green-700: 0, 210, 143;
  --green-500: 223, 247, 239;
  /** Red color **/
  --red-800: 77, 8, 11;
  --red-700: 174, 36, 67;
  --red-600: 226, 34, 77;
  --red-500: 252, 240, 240;
  /** White color **/
  --white: 255, 255, 255;
  /** Black color **/
  --black: 43, 54, 64;

  /** Gap **/
  --gap-1: 8px;
  --gap-2: 16px;
  --gap-3: 24px;
  --gap-4: 32px;
  --gap-5: 48px;

  /** layout **/
  --layout-height-1: 50px;
}

/** Init global styles **/
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(var(--secondary-color));
  font-family: "Poppins", sans-serif;
}
input,
textarea,
select {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
label{
  font-size: 0.825rem;
}
/** End global styles **/

/** Init styles of text-field **/
.text-field {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-top-color: rgb(206, 212, 218);
  border-right-color: rgb(206, 212, 218);
  border-bottom-color: rgb(206, 212, 218);
  border-left-color: rgb(206, 212, 218);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.text-field:focus {
  color: #212529;
  background-color: #fff;
  border: 2px solid rgb(var(--green-700));
  outline: 0;
}
.text-field__sm {
  min-height: calc(1.5em + (0.5rem + 2px));
  padding: 0.25rem 0.5rem;
  font-size: 0.825rem;
  border-radius: 0.2rem;
}
/** End styles of text-field **/

/** Init styles of form-group **/
.form-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.form-group > :not(:first-child) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-group > .text-field {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}
/** End styles of form-group **/
